.screen-container {
  position: relative;
  height: 100vh;
}

.modal {
  --opacity: 0;
  --visibility: hidden;
  --transition-delay: 0s;
  opacity: var(--opacity);
  visibility: var(--visibility);
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  transition-delay: var(--transition-delay);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.modal.active {
  --opacity: 1;
  --visibility: visible;
  --transition-delay: 0.3s;
}

.modal .modal-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-shadow: 0px 9px 10px 5px rgba(0, 0, 0, 0.1);
  min-width: 400px;
}

.main-menu .modal-body .title {
  text-align: center;
}

.main-menu .modal-body .menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-menu .modal-body .menu-items li {
  padding: 0.8rem 1rem;
}

.game-ui {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 100;
  font-size: 50px;
}

.incoming-points {
  --opacity: 0;
  --transition-duration: 0.6s;
  --translate-x: 0;
  opacity: var(--opacity);
  transform: translateX(var(--translate-x));
  transition:
    opacity var(--transition-duration) ease,
    transform var(--transition-duration) ease;
}

.incoming-points.active {
  --opacity: 1;
  --translate-x: 100px;
}

.message-container {
  --anim-duration: 1.25s;
  background-image: linear-gradient(
    to right,
    transparent,
    #000 50%,
    transparent
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation-fill-mode: forwards;
  animation-duration: var(--anim-duration);
}

.message-container.slide {
  animation-name: slideFadeLeft;
}
/*
  % * b = a
  % * 1.7 = 0.3
*/
.message-container .game-message {
  --anim-delay-percentage: 0.18;
  color: #fff;
  opacity: 0;
  transform: translate(0);
  animation-duration: calc(var(--anim-duration) * 0.7);
  animation-delay: calc(var(--anim-duration) * var(--anim-delay-percentage));
}

.message-container.slide .game-message {
  animation-name: slideFadeRight;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card-outer {
  width: 255px;
  height: 380px;
  perspective: 1000px;
}

.card-outer.face-down .card-body {
  transform: rotateY(180deg);
}

.card-body,
.card-inner,
.card-back {
  width: 100%;
  height: 100%;
}

.card-body {
  position: relative;
  cursor: pointer;
  transition: transform 800ms;
  transform-style: preserve-3d;
}

.card-inner,
.card-back {
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.card-inner {
  background-color: white;
}

.card-back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
}

.card-outer .card-name {
  text-align: center;
  font-size: 20px;
}

.card-outer .img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-outer .card-img {
  width: 150px;
  height: 150px;
}

.card-outer .card-img .dummy-color {
  display: none;
}

.card-outer.dummy-card .card-img .dummy-color {
  display: block;
  width: 100%;
  height: 100%;
}

.card-outer .card-img img {
  width: 100%;
  object-fit: cover;
}

.card-outer.dummy-card .card-img img {
  display: none;
}

@keyframes slideFadeLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  25%,
  80% {
    transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

@keyframes slideFadeRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  25%,
  75% {
    transform: translateX(0%);
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(-200%);
    opacity: 0;
  }
}
